.App {
	display: flex;
	flex-direction: column;
}

ul {
	padding: 0;
	list-style-type: none;
}

.Cards {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 300px;
}
@media (min-width: 1000px) {
	.Cards {
		display: flex;
		flex-direction: row;
	}
}
